.grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.cell {
    flex-grow: 1;
    border: groove;
}
